h1 {
  text-align: center;
  color: white;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
